<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Coming Soon</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,800,900" rel="stylesheet" type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="homepage-animation.css">
</head>
<body>
  <main>
    <div class="plate">
        <h2 class="text-animation" data-js="text">Prepare to have your mind blown</h2>
        <p class="text-animation" data-js="text">Chaging everything you knew about data management</p>
      </div>

    <canvas class="plane-canvas" id="plane-canvas"></canvas>
    <canvas class="main-canvas" id="main-canvas"></canvas>
    <div class="mouse" id="mouse"></div>
     </main>
</body>
</html>